@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300 !important;
}

.searchBar, .card {
    margin: 20px 0;
}

.itemImg {
    max-width: 100%;
    height: auto;
    max-height: 402.86px;
}



